* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

h1 h2 h3 h4 p {
  font-family: "Merriweather Sans", sans-serif;
}

.banner {
  background-image: url(photo/Banner\ Image.png);
  width: 90%;
  height: 600px;
  text-align: center;
  margin: auto;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  background-color: #07020b;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-container {
  text-align: center;
  color: white;
  position: absolute;
}
.text-container h4 {
  font-size: 32px;
  font-weight: 400;
}
.text-container h2 {
  font-size: 72px;
  padding: 0px 300px 0px 300px;
}

/* categories-section */
.categories-section {
  width: 90%;
  padding: 75px;
  text-align: center;
  justify-content: center;
  align-items: baseline;
}
.categories-section h2 {
  font-size: 88px;
  color: #F00;
}
.categories-section p {
  margin-top: 18px;
  font-size: 24px;
  color: #f00;
}
.categories-section h4 {
  margin-top: 18px;
  font-size: 48px;
}
.categories-section img {
  margin-top: 30px;
  width: 700px;
  height: 500px;
}

/* midnight-section */
.midnight-section {
  background-image: url(photo/Vectorrr.png);
  width: 90%;
  height: 600px;
  margin: auto;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  background-color: #07020b;
  align-items: center;
  color: white;
  display: flex;

}
.midnight-section img {
  width: 300px;
  padding: 100px;
  padding-left: 280px;
}
.text-section {
  font-size: 54px;
  margin: 40px;
}
.text-section p {
  font-size: 18px;
}
.bth{
 font-size: 20px;
 font-weight: 700;
 background: none;
 border: none;
 color: white;
 padding-right: 400px;
}



.datetime-container{
  width: 90%;
  height: 480px;
  margin: 70px;
  background-color: rgb(244, 224, 224);
}
.date-time{
  padding: 74px;
  text-align: center;
}
.date-time h2{
  font-size: 30px;
}
.join-btn{
  align-items: center;
  text-align: center;
  margin-top: 50px;
  background-color: #F00;
  color: white;
  font-weight: 700;
  font-size: 40px;
  border: none;
  border-radius: 10px;
}
.color{
  color: #F00;
}


.holiday-containe{
  text-align: center;
}
.holiday-text h4{
  font-size: 20px;
  color: #070211;
}
.holiday-text h2{
  font-size: 70px;
}
.holiday-text p{
  font-size: 16px;
}
.holiday{
  color: #F00;
}
.img-container{
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  background-repeat: no-repeat;
  margin-top: 90px;
  position: absolute;

}

.img-1{
  margin-top: 90px;
  width: 630px;
  height: 700px;
  
  position: relative;
  
}
.group-photo{
  padding-left: 180px;
}
.img-2{
  position: absolute;
  margin-top: 220px;
}
.img-3{
  padding: 150px;
  margin-right: -90px;
}
.img-4{
  padding: 70px;
  margin-top: 603px;
  
}


/* portfolio-section */
.portfolio-section{
  padding: 74px;
  align-items: center;
}
.portfolio-section h4{
  font-size: 24px;
  color: #F00;
}
.portfolio-section h2{
  font-size: 40px;
}
.portfolio-container{
  padding: 74px;
}
.portfolio-img{
  width: 1300px;
  height: 500px;
  gap: 90px;
}

/* subscribe-section */
.subscribe-container{
  margin: 60px;
  margin-right: 60px;
  align-items: center;
  width: 1300px;
  height: 500px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.05);
}


#gmail{
  border: none;
  width: 400px;
  height: 44px;
  position: relative;
  background: white;
  border-radius: 50px;
  margin-top: 50px;

}
.btnn{
  border-radius: 0px 50px 50px 0px;
  background-color: #F00;
  border: none;
  width: 170px;
  height: 44px;
  position: absolute;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  color: white;
}
.subscribi-text{
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.subscribi-img{
  margin-top: 80px;
}


/* footer-section */
.footer-container{
  background: #000;
  width: 1600px;
  height: 600px;
}


/* footer section */
.footer-text1{
  color: white;
  margin-top: 70px;
  font-size: 30px;
}
.footer-text2{
  color: white;
  font-size: 30px;
  margin-top: 70px;
}

.footer-secetion{
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
.app-section{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.footer-text3{
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.hr{
  font-size: 1px;
  margin-top: 90px;
}

.best-offer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px ;
  overflow: hidden;

}

.best-offer-content .com-text {
  padding: 74px;
}


.best-offer-content .com-text h3 {
  color: #F00;


  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.best-offer-content .com-text h1 {
  color: #070211;

  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.best-offer-content .com-text p {
  color: rgba(7, 2, 17, 0.60);

  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.new-img {
  margin-top: 70px;
}

.new-img .inner {
  border: 10px solid red;
  border-radius: 50%;

}

.best-offer-content .new-img {
  padding: 0 70px;
}

.new-img img {
  border: 30px solid white;
  border-radius: 50%;
}


.new-text h1 {
  color: #F00;

  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.best-offer-content .new-text {
  padding: 0 70px;
}

